@charset "UTF-8";


/* ABA MANUTENÇÃO */

:root{
    --pink: #D34F73;
    --dark-grey: #1E1E1E;
    --blue: #6987C9;
    --white: #D9D9D9;
    --dark-blue: #153B50;
    --grey: #49454F;
}

html {
    background-color: var(--dark-grey);
}

body {
    height: 95vh;
    width: 90vw;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: var(--white);
    padding: 10px;
    margin: 10px;
    font-family: "Inter", serif;
}

h1 {
    margin: 15px;
    font-family: "Fredoka", serif;
    font-weight: 400;
    font-size: 3em;
    letter-spacing: .15em;
    color: var(--pink);
}

h2 {
    font-size: 1.1em;
    margin: 0px;
}

p {
    margin: 5px;
    font-size: .9em;
    line-height: 1.3em;
}

a {
    text-decoration: none;
    padding: 5px;
    font-size: 1.1em;
    background-color: var(--pink);
    border: none;
    border-radius: 50px;
    width: 160px;
    height: 1.8em;
    margin: 15px;
    color: var(--white);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}